<span>
	<InputText Value="@Value"
			   ValueChanged="@ValueChanged"
			   ValueExpression="@ValueExpression"
			   class="skc-input-text"
			   id="@Id"
			   disabled="@Disabled"
			   style="@CreateStyleString()" />
</span>


@code {
	[Parameter]
	public string Value { get; set; } = string.Empty;

	[Parameter]
	public EventCallback<string> ValueChanged { get; set; }

	[Parameter]
	public Expression<Func<string>> ValueExpression { get; set; } = default!;

	[Parameter]
	[EditorRequired]
	public string Id { get; set; } = string.Empty;

	[Parameter]
	public bool Disabled { get; set; } = false;

	[Parameter]
	public string? Width { get; set; }

	private string CreateStyleString() {
		var style = new StringBuilder();
		if (!string.IsNullOrWhiteSpace(Width)) {
			style.Append($"width: {Width};");
		}
		return style.ToString();
	}
}